
body {
  background-color: #FFFFFF;
  background-image: url(/Users/rikki/Desktop/Basic-Portfolio/assets/images/circles-dark.png);
 background-repeat:repeat;
 opacity: 90%;
 width: 960px;
 height: 900px;
 padding: 20px;
 border-bottom-color: #666666;
 border: 10px;

}

ul {
    display: block;
    background-color: #ffffff;
}

h1 {color: #FFFFFF;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 22pt;
    text-align: center;
    background-color: #4aaaa5;
}
h2 {color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 17pt;
    background-color: #FFFFFF;
    border: 10px;
    border-color: #777777;
}


p {color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14pt;
    background-color: #ffffff;
    padding: 0px, 20px, 20px, 20px;
    display: block;
}


img {
margin: 10px;
padding: 20px; 
float: left;

}
header{
    height: 90px;
    width: 300px;
    margin: auto;
    float: left;
    background-color: #4aaaa5;
    padding: 20px, 20px, 20px, 0px;
    display: inline;
    position: fixed;
    
}

form {height: 350px;
    width: 650px;
    margin: 10px;

}
.MainHeader{
    height: 700px;
    width: 650px;
    border: #cccccc;
    margin: auto;
    padding: 20px; 
    border-bottom-color: #4aaaa5;
    border-bottom-style: solid;
    border: 10px;
    position: relative;
    float: left;
}

.Sidebar {
    width: 270px;
    height: 150px;
    padding: 10px; 
    background-color: #ffffff;
    display: block;
    margin: 0px;
    padding: 0, 15 px;
    float: right;
}
footer {
    width: 970px;
    height: 100px;
    margin: auto;
    border: 3px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    padding: 20px; 
    margin-top: -50px;
    display: inline-block;
}

.Menu {
    float: right;
    position: fixed;
    color: #777777;

}

</style>